.region-footer {
    text-align: center;
    padding: 8px;
    background: #e6c8ff;
    color: white;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}


.region-footer ul.menu li a {
    color: #7a5c9e;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .region-footer ul.menu li a:hover {
    color: white;
  }
  
