.hero-content {
    padding: 50px;
    background: #e6c8ff; 
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center; 
}

.hero-image img {
    max-width: 400px; 
    height: auto;
    margin-right: 40px; 
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    margin-left: 20px;
}

.hero-title {
    font-size: 3rem;
    color: #6a3d91; 
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-slogan {
    font-size: 1.5rem;
    color: white; 
}


@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .hero-image img {
        max-width: 80%; 
        height: auto;
        margin: 0 auto 20px;
    }

    .hero-text {
        margin-left: 0;
        align-items: center;
    }
}

