.P-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto 50px auto;
}

.P-column__left,
.P-column__right {
    flex: 1 1 45%;
    padding: 0 20px;

}


div#leaflet-map-paragraph-map-64-field-map-geofield {
    min-height: 440px;
    max-width: 100%;
    margin: 0 auto;
}

.leaflet-container {
    filter: hue-rotate(90deg) saturate(150%) brightness(110%);
}


@media (min-width: 1440px) {
    .P-columns {
        max-width: 2000px;
    }

    .P-column__left,
    .P-column__right {
        font-size: 1.2rem;
    }

    div#leaflet-map-paragraph-map-64-field-map-geofield {
        min-height: 700px;
        max-width: 100%;
    }
}

@media (max-width: 480px) {

}