

.region-navigation {
    position: sticky;
    top: 0;
    width: 100%;
    background: white;
    color: black;
    padding: 1rem 0;
    text-align: center;

    
    ul.menu {
      display: flex;
      justify-content: center; 
      padding: 0;
      margin: 0;
      list-style: none;
    }
  
    li {
      margin: 4px;
  
      a {
        display: block;
        padding: 20px 20px;
        color: #7a5c9e;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 8px;
        transition: background 0.3s ease, color 0.3s;
  
        &.is-active {
          background-color: #e6c8ff;
          color: white;
          border-radius: 10px;
        }
  
        &:hover {
          color: white;
          background-color: #e6c8ff;
          border-radius: 10px;
        }
      }
    }
  }
  
  nav.block-menu {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
  }
  
  .menu-logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px; 
    white-space: nowrap;
  }
  
  .menu-logo-icon {
    font-size: 30px;
    margin-right: 10px;
  }
  
  .menu-logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #7a5c9e;
  }

 
  .hamburger-menu {
    display: none;
    position: absolute;
    right: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }
    .region-navigation ul.menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
  }

  .region-navigation ul.menu.show {
      display: flex;
  }

  .region-navigation li {
      text-align: center;
      width: 100%;
  }

  .region-navigation a {
      display: block;
      padding: 15px;
      width: 100%;
  }
}