   @import "header";
   @import "footer";
   @import "nav";
   @import "hero";
   @import "articles";
   @import "form";
   @import "detailpages";
   @import "news";
   @import "office";
   @import "map";

   html,
   body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      font-family: "Delius";
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: bold;
      margin: 0;
      padding: 0;
      background-color: #f9f6fd;
   }

  

   

   #block-dierenarts-theme-breadcrumbs-2 h2 {
      display: none;
   }

   #block-dierenarts-theme-breadcrumbs-2 nav.breadcrumb ol {
      padding: 15px 15px;
   }

 

   