   
   @import "header";
   @import "footer";
   @import "nav";
   @import "hero";
   @import "articles";
   
   
   body{
    font-family: "Delius";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }















  

